/*skins.css*/
::-moz-selection {
    background: #ef4136;
}

::selection {
    background: #ef4136;
}

.button-default, .button-default-2:hover, .go-up, .widget_calendar tbody a, .widget_calendar caption, .tagcloud a:hover, .submit-1:hover, .widget_search .search-submit:hover, .user-area .social-ul li a, .pagination .page-numbers.current, .page-navigation-before a:hover, .load-more a:hover, input[type="submit"]:not(.button-default):hover, .post-pagination > span, .post-pagination > span:hover, .post-img-lightbox:hover i, .pop-header, .fileinputs:hover span, a.meta-answer:hover, .question-navigation a:hover, .progressbar-percent, .button-default-3:hover, .move-poll-li, li.li-follow-question, .user_follow_yes, .social-ul li a:hover, .user-follow-profile a, .cat-sections:before, .stats-inner li:before, .cat-sections:before, .ui-datepicker-header, .ui-datepicker-current-day, .wpqa-following .user-follower > ul > li.user-following h4 i, .wpqa-followers .user-follower > ul > li.user-followers h4 i, .header-colored .header, .footer-light .social-ul li a, .header-simple .header .button-sign-up, .call-action-unlogged.call-action-colored, .button-default.slider-button-style_2:hover, .slider-inner .button-default.slider-button-style_3:hover, .slider-wrap .owl-controls .owl-buttons > div:hover, .slider-ask-form:hover input[type="submit"], .panel-image-opacity, .panel-image-content .button-default:hover {
    background-color: #ef4136;
}

.color, a:hover, .user-login-click > ul li a:hover, .nav_menu > ul li a:hover, .nav_menu > div > ul li a:hover, .user-notifications > div > a:hover, .user-notifications > div > ul li a, .post-meta a, .post-author, .post-title a:hover, .logo-name:hover, .user-area .user-content > .user-inner h4 > a, .commentlist li.comment .comment-body .comment-text .comment-author a, .commentlist ul.comment-reply li a:hover, .commentlist li .comment-text a, .post-content-text a, blockquote cite, .category-description > h4, .category-description > a, .pop-footer a, .question-poll, .active-favorite a i, .question-link-list li a:hover, .question-link-list li a:hover i, .poll-num span, .progressbar-title span, .bottom-footer a, .user-questions > div > i, .user-data ul li a:hover, .user-notifications div ul li span.question-title a:hover, .widget-posts .user-notifications > div > ul li div h3 a:hover, .related-widget .user-notifications > div > ul li div h3 a:hover, .widget-posts .user-notifications > div > ul li a:hover, .related-widget .user-notifications > div > ul li a:hover, .widget-title-tabs .tabs li a:hover, .about-text a, .footer .about-text a, .answers-tabs-inner li a:hover, .mobile-aside li a:hover, .stats-text, .wpqa-following .user-follower > ul > li.user-following h4, .wpqa-followers .user-follower > ul > li.user-followers h4, .nav_menu ul li.current_page_item > a, .nav_menu ul li.active-tab > a, .article-question .question-share .post-share > ul li a:hover, .ask-box-question:hover, .ask-box-question:hover i, .wpqa-login-already a {
    color: #ef4136;
}

.loader_html, .submit-1:hover, .widget_search .search-submit:hover, .author-image-span, .badge-span, input[type="submit"]:not(.button-default):hover, blockquote, .question-poll, .loader_2, .loader_3, .question-navigation a:hover, li.li-follow-question, .user_follow_yes, .user-follow-profile .user_follow_yes .small_loader, .user_follow_3.user_follow_yes .small_loader, .tagcloud a:hover, .pagination .page-numbers.current, .wpqa_poll_image img.wpqa_poll_image_select, .wpqa-delete-image > span {
    border-color: #ef4136;
}

/*custom-css*/
.header-2 .header {
    background: #ffffff !important;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .25);
}

.header, nav.nav li:hover ul, .widget_calendar #wp-calendar thead, .widget_calendar #wp-calendar thead th, .footer .tagcloud a, .footer .styled-select::before, .go-up:hover, .ask-button:hover, .user-area .social-ul li a:hover, .pagination .page-numbers:hover, .post-pagination > *:hover, .post-img .owl-controls .owl-buttons > div:hover, .fileinputs span, a.meta-answer, .button-default-3, .del-item-li:hover, .move-poll-li:hover, .mobile-aside.dark-mobile-menu, .ui-datepicker-title, .ui-datepicker-today, .login-opacity, nav.nav li .flexMenu-popup, .header-colored a.button-sign-in:hover, .header-colored a.button-sign-up, .header-simple-header-light .button-default.wpqa-question, .header-simple.header-colored .button-default.wpqa-question, .header-simple.header-light .header .button-sign-up:hover, .header-simple.header-colored .header .button-sign-in:hover, .header-simple.header-colored .header .button-sign-up, .call-action-unlogged.call-action-dark, .slider-inner .button-default.slider-button-style_3, .slider-form form input[type="submit"], .wpqa-cover-background, .cover-opacity, .panel-image-content .button-default {
    background-color: #00a79d;
}

.header-colored a.button-sign-in, .header-colored a.button-sign-up, .header-simple.header-colored .button-default.wpqa-question {
    border: none;
}

.header-colored a.button-sign-up:hover, .header-simple.header-colored .button-default.wpqa-question:hover {
    background: #ef4136;
}

.header-colored .header-search input[type="search"]::placeholder {
    color: rgba(0, 0, 0, .5);
}

.white, .go-up, .ask-button, .ask-button:hover, nav.nav ul li a, .header-search button i, .user-login div, .user-login-click > i, .notifications-number, .user-notifications-seen > i, .user-notifications-2 > div > ul li span, .user-notifications-2 > div > ul li a:hover, .post-share ul li a, .footer .widget-title, .widget_calendar caption, .widget_calendar #wp-calendar thead, .widget_calendar #wp-calendar thead, .widget_calendar #wp-calendar thead th, .tagcloud a:hover, .footer .tagcloud a, .styled-select::before, input[type="submit"]:not(.button-default):hover, .submit-1:hover, .widget_search .search-submit:hover, .footer .widget_search .search-submit, .logo-name, .badge-span, .pagination .page-numbers.current, .pagination .page-numbers:hover, .post-pagination > *:hover, .post-pagination > span, .post-img-lightbox:hover i, .post-img .owl-controls .owl-buttons > div:hover, .slider-wrap .owl-controls .owl-buttons > div:hover, .accordion .accordion-title i, .panel-pop > i, .pop-header, .pop-footer, .pop-footer a:hover, .page-section .post-title-2 > i, .fileinputs span, nav.nav ul li a:hover, nav.nav ul li:hover > a, .question-stats span, .question-navigation a:hover, .poll_1 > h3 i, .poll_2 > h3 i, .bottom-footer a:hover, li.li-follow-question a i, .user-follower > ul > li h4 i, .follow_email:hover a, .send_message_icon:hover a, .user_follow:hover a, .user_follow_yes a, .widget-statistics ul li i, .footer .user-area .user-content > .user-inner h4 > a:hover, .footer .stats-value, .footer .stats-comments .stats-text, .footer .related-widget .user-notifications > div > ul li div h3 a, .footer .widget-posts .user-notifications > div > ul li div h3 a, .footer .user-notifications div ul li span.question-title a, .footer .user-notifications > div > ul li a:hover, .footer .widget_search input, .footer .subscribe-widget form input[type="text"], .footer textarea, .footer input[type="text"], .footer input[type="password"], .footer input[type="datetime"], .footer input[type="datetime-local"], .footer input[type="date"], .footer input[type="month"], .footer input[type="time"], .footer input[type="week"], .footer input[type="number"], .footer input[type="email"], .footer input[type="url"], .footer input[type="search"], .footer input[type="tel"], .footer input[type="color"], .footer .wpqa_form p i, .footer .taglist .input:before, .footer .wpqa_form .fileinputs i, .footer .wpqa_textarea_p i, .footer .wpqa_checkbox input[type="checkbox"]:checked::before, .footer .wpqa_radio input[type="radio"]:checked::before, .footer .widget-title-tabs .tabs li.current a, .social-ul li a:hover, nav.nav ul li.current_page_item a, .footer .about-text a:hover, .mobile-menu, .dark-mobile-menu.mobile-aside li a, .dark-mobile-menu .mobile-arrows, .dark-mobile-menu .mobile-aside-close, .ui-datepicker-title, .footer-login, .footer-login a, .login-text-col h2, .login-text-col h2 a, .login-text-col p, .login-text-col p a, .sign-in-lock, .tipsy, .question-sticky-ribbon div, .header-colored .user-notifications > i, .header-colored .user-click-open.user-login-click > i, .header-colored .header-search input[type="search"], .footer-light .social-ul li a, .call-action-dark.call-action-unlogged h3, .call-action-colored.call-action-unlogged h3, .header-light nav.nav ul > li ul li a, .slider-colmun h3, .slider-colmun p, .slider-inner .pop-footer a, .button-default.slider-button-style_2:hover, .slider-inner .button-default.slider-button-style_3:hover, .slider-form form input[type="submit"], .header-colored nav.nav ul li.flexMenu-viewMore > a:hover, .header-colored nav.nav ul li.flexMenu-viewMore:hover > a, .wpqa-cover-content .user-area .user-content > .user-inner h4 > a, .wpqa-cover-content .user-content .profile-credential, .panel-image-inner h3, .panel-image-inner p {
    color: #231f20;
}

.footer, .user-click-open.user-login-click > i, .user-login-click-2 > ul, .user-notifications-2 > div, .post-share ul li a:hover, .widget_calendar tbody a:hover, .widget_calendar tbody a:focus, nav.nav ul li a:hover, nav.nav ul li:hover > a, .footer .widget-title-tabs .tabs li.current a, nav.nav ul li.current_page_item a, .footer .widget-no-divider .stats-inner li, .footer .widget.tabs-wrap.widget-tabs, .footer .widget.tabs-wrap.widget-tabs .widget-wrap, .mobile-menu-click:hover, .footer .wpqa_login_social_div span {
    background: #00a79d;
    color: #FFFFFF;
}

.button-default:hover, .button-default-2, .load-more a, .styled-select::before, .user-login-click > i, .page-navigation-before a, .progressbar-percent.poll-result, .user-follow-profile .user_follow_yes a:hover {
    background-color: #231f20;
}

.question-simple .question-footer i, .question-simple .question-footer, .question-simple .question-footer span, .question-simple .question-footer li {
    color: #00a79d;
}

.pagination .page-numbers, .post-pagination > * {
    border: none;
}

.accordion .accordion-title i, .page-section .post-title-2 > i, .poll_1 > h3 i, .poll_2 > h3 i, .user-follower > ul > li h4 i, .follow_email:hover, .send_message_icon:hover, .user_follow:hover, .menu-tabs > ul > li > a:hover::before, .menu-tabs > ul > li.active-tab > a::before, .menu-tabs .flexMenu-viewMore.active-menu > a::before, .widget-statistics ul li i, li.stats-comments::before {
    background: #00a79d;
}

.header-colored .user-login span {
    color: #00a79d;
}

.user-login div {
    text-transform: capitalize;
}

.wpqa-cover-content .user-area .user-content > .user-inner h4 > a {
    text-transform: capitalize;
    color: #ffffff;
    letter-spacing: 1px;
}

.wpqa-cover-background, .cover-opacity {
    background-color: #231f20;
}

.user-login-click > ul, .user-notifications > div {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .25);
}

.alert-message.warning i, .alert-message.warning a:hover {
    color: #231f20;
}

.alert-message.warning {
    background-color: #00a79d;
    color: #231f20;
}
label.label-premium,.publish-class {
    background: #00a79d;
    color: #FFFFFF;
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 5px;
}
.draft-class {
    background: #ef4136;
    color: #FFFFFF;
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 5px;
}
.manage-table-div {
    overflow-y: hidden;
}